<mat-toolbar style=" background: #003366; color : white" class="fix-nav">
  <button type="button" mat-icon-button class="visible-md" (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand"  >
    Centre de Formation  
  </div>
  <span class="nav-spacer"></span>
 
  
  <button class="hidden-sm" mat-icon-button style="margin-right: 12%;margin-top: -0.5%;" [matMenuTriggerFor]="profile">
    <img  [matMenuTriggerFor]="profile" alt="Avatar" class="img-fluid rounded-circle mb-2" src="{{ currentUser.image }}" width="50px" height="50px" style=" border-radius: 50%;margin-right: 1%; "> 
    <label style="text-align: center;margin-left: 35%;margin-top: 2%;">{{ currentUser.username }}</label> 
    <label style="text-align: center;margin-left: 35%;margin-top: 2%;">{{ currentUser.fname }}</label> 
    <label style="text-align: center;margin-left: 35%;margin-top: 2%;">{{ currentUser.lname }}</label> 
    </button>

  <mat-menu #profile="matMenu" [overlapTrigger]="false">
   <label style="text-align: center;margin-left: 35%;margin-top: 2%;">{{ currentUser.username }}</label> 
    <button mat-menu-item >
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>


  
  <button mat-icon-button (click)="onLoggedout()" style="margin-right: 2%;">
    <mat-icon>exit_to_app</mat-icon>
  </button>

 

</mat-toolbar>
