<h1 mat-dialog-title style="background-color: #b3cce6; text-align: center ; padding-top: 2%; padding-bottom:2%;color:#003366;border-radius: 10px;">Modifier une pays</h1>
<div mat-dialog-content>


    <mat-card fxFlex.gt-xs="150" class="mb15">
       
        
          <form class="example-form" #f="ngForm" [formGroup]="Form" autocomplete="off" novalidate>
            
            <mat-form-field class="example-full-width"> <input matInput placeholder="Libelle" type="text" formControlName="Libelle" ngModel required [(ngModel)]="data.message.libele">
              <mat-error *ngIf="hasError('Libelle', 'required')">Libelle est obligatoire</mat-error>

            </mat-form-field>               
          
            
          </form>
       
      </mat-card>
    </div>
      <div mat-dialog-actions style="float:right;">
        <button mat-raised-button  style="background-color:#003366;color:white;" (click)="update()"[disabled]="!Form.valid" >ok</button>
        <button mat-raised-button  style="background-color:#e28743;;color:white;" (click)="reset()">Reset</button>
          <button  mat-dialog-close class mat-raised-button style="background-color:#eeeee4;color:black;">Close</button>
      </div>

