  
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 500px;
    float : center;
  }
  .ab{
    color: #862c48;
  
  }
  .abb{
    background: rgba(0, 17, 255, 0.637);
  //color: #ddd;
  }
  .eto {
      color: rgba(255, 0, 0, 0.808);
  }

  

  .footer-distributed {
    background-color: #292c2f;
    height: 15%;
    margin-top: 3%;
  
   
    
    
  }
  
  .footer-distributed .footer-left  {
    color: #8f9296;
    font-size: 14px;
    margin-top: 100%;
    float: center;
  }
  /* Footer links */
  
  
  
  
  
  
  
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 40px;
    
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    //display: inline-block;
    width: 35px;
 height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    margin-left: 3px;
    transition:all .25s;
    text-decoration: none; 
  }
  
  
  
  
  
  /* Media Queries */
  
  
  
  
  
  
  
    //-----------------------------------link design-------------//
  
  
  
  
  
  
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 40px;
    
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 5px;
    margin-left: 3px;
    transition:all .25s;
    text-decoration: none; 
  }
  
  
  
  
  
  /* Media Queries */
  
  
  
  
  
  
  
    //-----------------------------------link design-------------//
  
  
  
  
  
  
  
  
  
  
  
  /* Media Queries */
  
  
  
  
  
  
  
    //-----------------------------------link design-------------//
  
  
   